{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
    Trainning
{% endblock %}

{% block content %}
<h2>Create Trainning Subject</h2>
<br>
<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label class="control-label col-sm-2" for="subject">Subject:</label>
          <div class="col-sm-10">
                <input type="text" enctype="multipart/form-data" name="subject"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="files">Trainning Files:</label>
          <div class="col-sm-10"> 
                <input type="file" enctype="multipart/form-data" name="files" accept=".txt" multiple/>
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Start Trainning</button>
          </div>
        </div>
      </form>

{% endblock %}