{% extends 'bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
    <nav class="navbar navbar-inverse" role = "navigation">
        <div class = "navbar-header">
            <a class="navbar-brand" href = "#">{% block title %}Py_port{% endblock %}</a>
        </div>
        
        <div>
            <ul class = "nav navbar-nav">
                <li><a href="{% url 'trainning_index' %}">Trainning</a></li>
                <li><a href="{% url 'analyzer_index' %}">Analyzer</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron" id="content_container">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
    </div>

{% endblock %}

