{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
Analyzer
{% endblock %}

{% block content %}
<h2>Analyze Texts</h2>
<br>
<form class="form-inline" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="files">Articles:</label>
          <input type="file" class="form-control" enctype="multipart/form-data" name="files" accept=".txt" multiple/>
        </div>
        <button type="submit" class="btn btn-default">Analyze</button>
</form>

{% endblock %}