{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
Results
{% endblock %}

{% block content %}
<h2>Result</h2>
<br>
<style>
text {
  font: 09px sans-serif;
}
</style>
<body style="text-align:center">
    <script src="https://fastcdn.org/D3.js/3.5.6/d3.min.js"></script>
    <script>
     
    var margin = {top: 20, right: 10, bottom: 30, left: 500},
        width = 1300 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;	
    
    var diameter = 600,
        format = d3.format(",d"),
        color = d3.scale.category20c();
    
    var bubble = d3.layout.pack()
        .sort(null)
        .size([diameter, diameter])
        .padding(1.5);
    
    var svg = d3.select("body").append("svg")
        .attr("width", diameter + 340)
        .attr("height", diameter)
        .attr("class", "bubble");
    
    d3.json("http://127.0.0.1:8000/analyzer/json/bubble/"  +  "{{ id }}", function(error, root) {
      if (error) throw error;
    
      var node = svg.selectAll(".node")
          .data(bubble.nodes(classes(root))
          .filter(function(d) { return !d.children; }))
        .enter().append("g")
          .attr("class", "node")
          .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    
      node.append("title")
          .text(function(d) { return d.className + ": " + format(d.value); });
    
      node.append("circle")
          .attr("r", function(d) { return d.r; })
          .style("fill", function(d) { return color(d.packageName); });
    
      node.append("text")
          .attr("dy", ".3em")
          .style("text-anchor", "middle")
          .text(function(d) { return d.className.substring(0, d.r / 3); });
    
    var legend = svg.selectAll(".legend")
          .data(color.domain().slice().reverse())
        .enter().append("g")
          .attr("class", "legend")
          .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });
    
      legend.append("rect")
          .attr("x", width - 18)
          .attr("width", 18)
          .attr("height", 18)
          .style("fill", color);
    
      legend.append("text")
          .attr("x", width - 24)
          .attr("y", 9)
          .attr("dy", ".35em")
          .style("text-anchor", "end")
          .text(function(d) { return d; });
    });
    
    // Returns a flattened hierarchy containing all leaf nodes under the root.
    function classes(root) {
      var classes = [];
    
      function recurse(name, node) {
        if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
        else classes.push({packageName: name, className: node.name, value: node.size});
      }
    
      recurse(null, root);
      return {children: classes};
    }
    
    d3.select(self.frameElement).style("height", diameter + "px");
    
    </script>

{% endblock %}